@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import "header.css";
@import "intro.css";
@import "productive.css";

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(218, 28%, 13%);
  color: whitesmoke;
}
